name: Run Postman Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Newman
        run: npm install -g newman newman-reporter-html

      - name: Run Postman Collection
        run: |
          newman run "Full Flow.postman_collection.json" \
          -e "Test.postman_environment.json" \
          -r cli,html

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman/*.html

